<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8">
    <title>Registrierung</title>
</head>
<body>

<div class="page-header">
    <a href="" class="btn btn-xs btn-link pull-right">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Zurück zur Startseite
    </a>
    <h1>Registrierung</h1>
</div>

    <div class="container">

        <form action="registration.html" method="get">

            <label for="uname">Künstlerername:</label> <input type="text" name="uname" id="uname"><br>
            <label for="pswd">Passwort:</label> <input type="password" name="pswd" id="pswd"><br>
            <label for="wpswd">Passwort wiederholen:</label> <input type="password" name="wpswd" id="wpswd"><br>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                   <!--
                    <a href="/registration" type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Registrieren
                    </a>
                    -->
                    <button type="submit">Registrieren</button>
                </div>
            </div>

        </form>

    </div>

</body>
</html>