<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Rezepte</title>

</head>

<body>
Suchergebnisse:</br>
<ul th:each="searchResult: ${searchResults}">
    <li>
        <form action="show.html" method="get"><input type="hidden" name="rId" th:value="${searchResult?.id}"><b th:text="${searchResult?.name}"></b>
            <button value="show" name="show" type="submit">Anzeigen</button>
        </form>
    </li>
</ul>
</body>


</html>