<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/js/Application.js"></script>
    <title>Title</title>
</head>
<body>
<p> <a href="/">Startseite</a></p>

<form id="recipe" name="recipe" action="userSite.html" method="get">

Name: <input type="text" name="rname"  th:value="${newR?.name}"><br>
Dauer: <input type="number" name="duration" > Minuten<br>
    <!--TODO How do i get to show the duration Kim -->
Schwierigkeitsgrad: <input type="text" name="difficulty"  th:value="${newR?.difficulty}"><br>
Freigabe: <input type="checkbox" name="released" default="false" th:value="${newR?.released}"><br>
Personenanzahl: <input type="number" name="pplnr"  th:value="${newR?.numberOfPeople}"><br>
Vegetarisch: <input type="checkbox" name="veggie" default="false"  th:value="${newR?.vegetarian}"><br>

Kochprozess: <input type="text" name="cprocess"  th:value="${newR?.cookingProcess}"><br>
    <input type="hidden" value="test" th:value="${newRid}" name="newRid">
<button type="submit" form="recipe">Rezept erstellen</button>
</form>
    <form action="userSite.html" method="get">
    Zutat: <div class="ingredient">Name: <input type="String" name="inna"> Menge: <input type="number" name="innr"> Einheit: <input type="text" name="inun"><br></div>
       <input type="hidden" value="test" th:value="${newRid}" name="newRid">
        <p><button type="submit">Hinzufügen</button></p>
    </form>
Koch:
<b th:text="${newR?.cook?.username}"></b><br>
Rezept:
<b th:text="${newR?.name}"></b><br>
Personenanzahl:
<b th:text="${newR?.numberOfPeople}"></b><br>
Schwierigkeitsstufe:
<b th:text="${newR?.difficulty}"></b><br>
Dauer:
<b th:text="${newR?.duration}"></b><br>
Vegetarisch:
<b th:text="${newR?.vegetarian}"></b><br>
Zubereitung:
<b th:text="${newR?.cookingProcess}"></b><br>
Freigegeben:
<b th:text="${newR?.released}"></b><br>

<table>
    <tr>
        <th>Name</th>
        <th>Menge</th>
        <th>Einheit</th>
    </tr>
    <tr th:each="in : ${newRiL}" >
        <td th:text="${in.name}"> </td>
        <td th:text="${in.quantity}"> </td>
        <td th:text="${in.measure}"> </td>
        <td><form action="userSite.html" method="get"> <input type="hidden" value="test" th:value="${newRid}" name="newRid"> <input type="hidden" name="delete" value="" th:value="${in.id}"><button type="submit">Entfernen</button></form></td>
    </tr>
</table>

 <!-- TODO check th syntax ! not working ... -->


<!--Input the Output of the Model in onclick actions or form actions to give the controller a Id to work with back-->
<!--Its important to dvide the presentation of Resipes and comments. Multi array in the model? -->
</body>
</html>