<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/js/Application.js"></script>
    <title>Title</title>
</head>
<body>
<p> <a href="">Startseite</a></p>

<p id="koala" th:text="${user.role}" ></p>
<p th:text="${user.username}" ></p>
<p th:text="${user.password}" ></p>
<p th:text="${userid}" ></p>

<form id="recipe" action="userSite.html" method="get">

Name: <input type="text" name="rname" ><br>
Dauer: <input type="number" name="duration" > Minuten<br>
Schwierigkeitsgrad: <input type="text" name="difficulty" ><br>
Freigabe: <input type="checkbox" name="released" ><br>
Personenanzahl: <input type="number" name="pplnr" ><br>
Vegetarisch: <input type="checkbox" name="veggie" ><br>

Kochprozess: <input type="text" name="cprocess" ><br>

<button type="submit">Rezept erstellen</button>

Zutat: <div class="ingredient"> Menge: <input id="1" type="number" name="innr"> Einheit: <input id="2" type="text" name="inun"><br></div>

    <p><button type="button" onclick='addIngredient()'>Add</button></p>
</form>







<!--Input the Output of the Model in onclick actions or form actions to give the controller a Id to work with back-->
<!--Its important to dvide the presentation of Resipes and comments. Multi array in the model? -->
</body>
</html>